html {
  font-size: 18px;
}
body {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: Helvetica;
  font-size: 1rem;
  margin: 0;
  align-items: center;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 960px;
}
nav {
  width: 960px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  display: flex;
  width: 960px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: black;
}
.logo img {
  display: flex;
  height: 1.5rem;
  padding-left: .5rem;
  padding-right: 1rem;
}

.title {
  display: flex;
  padding-top: .66rem;
  padding-bottom: .66rem;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 25rem;
  width: 100%;
  background-image: url(../images/moto.jpeg);
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
}
.boxspace {
  width: 960px;
  margin-top: 9rem;
}
.bannerbox {
  width: 20rem;
  background-color: black;
  padding: 2rem 3rem;
}
.bannerbox p {
  font-weight: bold;
  padding-bottom: 0.25rem;
}
.bannerbox h1 {
  font-size: 2rem;
  font-weight: bold;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: firebrick;
  width: 100%;
}
.products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 960px;
  margin-top: 3rem;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  height: auto;
  border: 4px solid black;
}
.box img {
  display: flex;
  height: 9rem;
  width: auto;
  padding: 2rem;
  overflow: hidden;
  image-orientation:
}
#glasses img {
  display: flex;
  height: 5rem;
  width: auto;
  padding-top: 4rem;
}
.box p {
  text-align: center;
  background-color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: black;
  width: 100%;
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 960px;
  margin-top: 3rem;
  margin-bottom: 4rem;
}
.infosub {
  width: 35%;
  background-color: black;
}
.white {
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.black {
  color: black;
  background-color: white;
  padding-top: 0.25rem;
}
.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: black;
  height: 5rem;
}
footer {
  width: 960px;
}
footer p {
  text-align: left;
}
